.col.section {
    font-size: larger;
    color: whitesmoke;
    border: 2px;
    box-shadow: 3px;
    border-color: gray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 120, 0.5);
}